* { margin: 0; padding: 0; }
body { margin: 0 auto; width: 960px; font-size: 16px; }
h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1em; }
h6 { font-size: 0.5em; }
p { line-height: 1.5em; }
header, footer { display: block; padding: 16px 0; }

